{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row justify-content-center t20">

  <picture>
    <source media="(min-width: 650px)" srcset="{% static 'images/hmpg2.png' %}">
    <source media="(min-width: 485px)" srcset="{% static 'images/hmpg2sml.png' %}">
    <img src="{% static "images/hmpg2sml.png" %}" alt="Homepage main image" class="imgresponsive">
  </picture>

</div>

<div class=" row justify-content-center hmpgtxt">
  <b>OneMan Orchestra </b>
</div>

<div class="row justify-content-center">
 <div style="margin:5px;"><a href="{% url 'contacts:contacts' %}"><button class="call-to-act">Get Started</button></a> </div>
</div> 

<div class="col col-md-8 offset-md-2">
  <div class="hmpgtxt2" style="margin-top: 10px;"><span> Hi, I am based in Leeds and I provide freelance services in all
      things digital including: </span> <br>
    <span style="font-family: Cabin,sans-serif; letter-spacing: 0.05em; font-weight: bold; color: slategrey;">Responsive
      Web design - Web Development - eCommerce - Smartphone Apps - Branding and Print Design </span>
  </div>
</div>


<div class="jumbotron">


  <div class="row justify-content-center pad-20">

    <div class="col-lg-2 col-md-4 items clr"> 
      <a href="{% url 'services'  %}#responsive " class="nav-plain">
        <strong>Responsive Web Design</strong> <br> 
        I deliver Pixel perfect design that works across all devices and display sizes. Clean crisp coded functionality behind 
        the scenes ensures flawless functionality and reobust performance.    
      </a>
    </div>

    <div class="col-lg-2 col-md-4 items clr">
      <a href="{% url 'services' %}#webdev" class="nav-plain">
      <strong>Web Development </strong><br>
      I can use a variety of open-source tools such as Python, Django, PostgreSQL etc to build customised architecture that ensures performance and reliability.  
      I also work with Wordpress CMS.
    </a>
    </div>

    <div class="col-lg-2 col-md-4 items clr">
      <a href="{% url 'services' %}#branding" class="nav-plain">
        <strong>Branding and Graphic Design</strong> <br>
        A picture says a thousand words goes the old cliche.  I am here to help you make sure that your logo and graphics say the right thousand words (or a few thousand).  
      </a>
    </div>

    <div class="col-lg-2 col-md-4 items clr"> 
      <a href="{% url 'services'  %}#mobil" class="nav-plain">
        <strong>Mobile Apps</strong><br>
        98 percent of the cell phone market is shared between Android and iPhone.  I develop hybrid apps using platforms that allow publishing on 
        both networks at a much lower cost than building in native code.    
      </a>
    </div>

  </div>


<!-- Personal Projects Start Here-->
  <div class="row justify-content-center pad-20">
    <div class="col-md-8">
      <div  style="text-align: center;">
        <h3 style="margin-top: 50px; ">Check Out Some Recent Fun Projects</h3>
      </div>  
    </div>
  </div>
  <div class="row justify-content-center pad-20">
    <div class="col-md-3 items-new">     
      <h5 style="text-align: center;"><u> Play Countdwon  </u></h5>
      <img style="float: left; margin: 5px 15px 15px 0px;" src="{% static 'images/home-clock.png' %}" width="115" height="115" alt=""> 
      Test your wits in online version of a classic TV show. Make words from choice of letters, find the computer
      generated 3 digit number and solve the anagram conundrum.<br>
      <span style="float: right;"><a href="{% url 'countdown:home' %}">Click Here</a></span>
    </div>
    <div class="col-md-3 items-new">
      <h5 style="text-align: center;"><u>Create A Task List </u> </h5>
      <img style="float: left; margin: 5px 15px 15px 0px;" src="{% static 'images/home-todo.png' %}"  width="115" height="120" alt=""> 

      Create a personal task list to track your to do chores and deadlines. A Versatile todo list app on your desktop. <br>
      <span style="float: right;"><a href="{% url 'todo:index' %}">Click Here</a></span>
    </div>
    <div class="col-md-3 items-new">
      <h5 style="text-align: center;"><u>Poetic Legacy </u> </h5>
      <img style="float: left; margin: 5px 15px 15px 0px;" src="{% static 'images/home-poetry.png' %}"  width="115" height="115" alt=""> 
      Translation of Urdu & Persian poetry available for download on the Play store.  The great poetic traditions of the Indian subcontinental 
      region dates back several centuries.  This app is a taster of a  digital project which is work in progress.
      <br>
      <span style="float: right;"><a href="{% url 'todo:index' %}">Click Here</a></span>
    </div>
  </div>

</div> <!--jumbotron finish-->



{% endblock %}



