{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="row justify-content-center t20">
  <h1>Services</h1>
</div>



<div class="row justify-content-center">
  <div class="col-lg-4 offset-lg-1">
    <div class="services-title" id="webdev">
      <div>
        <img src="{% static "images/services/webdev.png" %}" alt="research icon">
      </div>
      <div class="mlft-20">
        <h4>Web Development</h4>
      </div>
    </div>
    <div>
      <p>
        I can use a variety of open-source tools such as Python, Django, PostgreSQL etc to build customised architecture
        that ensures performance and reliability.
        I also work with Wordpress CMS.
      </p>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Python Django</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>HTML 5</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>JavaScript</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>WordPress</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>mySQL & mySQL-lite</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>PostgreSQL</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>C-panel or Python Anywhere Hosting</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>AWS - Coming Soon</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="services-title" id="responsive">
      <div><img src="{% static "images/services/responsive.png" %}" alt="research icon"> </div>
      <div class="mlft-20">
        <h4>Responsive Web Design</h4>
      </div>
    </div>
    <div>
      <p>
        With so many different devices on offer to access the web, a responsive web site adapts to the display size
        without compromising quality or functionality. Whether a single landing page or an online monster, your web
        presence MUST BE RESPONSIVE.
        I create Bespoke multi-device platforms with all the bells and whistles that today's users have come to expect.
      </p>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Bespoke Responsive Design</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>HTML 5</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>JavaScript</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>CSS, Flexbox etc</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Bootstrap 4</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Adobe Photoshop & Illustrator</li>
      </ul>
    </div>
  </div>

</div>


<div class="row justify-content-center">

  <div class="col-lg-4 offset-lg-1">
    <div class="services-title" id="research">
      <div><img src="{% static "images/services/research.png" %}" alt="research icon"> </div>
      <div class="mlft-20">
        <h4>Research and Strategy</h4>
      </div>
    </div>
    <div>
      <p>
        Researching your market, competition, and deep analysis of your product helps define the achievable objectives.
        Before starting a design and development process it is very important to have a clear picture and direction.
        Having worked with several SMEs and start-ups I can help you define and refine your goals and objectives whilst
        having a clear view of how to get there.
      </p>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Mind map</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Entity diagram</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Competion Analysis</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Target Audiance</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Concept Design</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Design Brief</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Specifications</li>
      </ul>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="services-title" id="branding">
      <div>
        <img src="{% static 'images/services/branding.png' %}" alt="Branding Icon">
      </div>
      <div class="mlft-20">
        <h4>Branding & Graphic Design </h4>
      </div>
    </div>
    <div>
      <p>
        Brands tell a story, make a promise and create emotional engagement from the target audience. Your logo design,
        typography, colour scheme and consistency of
        the message all form a perception with the customers. Your Branding is what makes you stand out from the
        competition. <br>

        I work with you to perfect your brand experience, helping when thinking <strong> outside of the box </strong> is
        required to
        solve a business problems. I belive in being different but focusing on funtionality, being practical without
        compromising aesthetics, Fun but useful.
        Weather launching a new product or service, or re-branding for the digital age, I can help you revive and
        thrive.
      </p>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Logo Design</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Brand Identity </li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Micro Branding</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Style Guide </li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Banner Ads</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Infographicss</li>
        <li><span class="fa-li"><i class="far fa-check-square chk-orange"></i></span>Print Material</li>
      </ul>
    </div>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-lg-4 offset-lg-1" id="mobil">
    <div class="services-title">
      <div>
        <img src="{% static "images/services/mobil.png" %}" alt="research icon">
      </div>
      <div class="mlft-20">
        <h4>Smart Phone Apps</h4>
      </div>
    </div>
    <div>
      <p>
        The mobile market is almost entirely owned by Apple and Android phones and tablets.
        The two different technologies require completely different skills set to build apps in the native environment.
        Thankfully some platforms have emerged that are used to create apps that can be distributed to iOS,
        Android and Windows phones.
        Third-party plugins are utilised to access device features such as the microphone, the camera, the contact list,
        etc.
      </p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="services-title" id="ecom">
      <div>
        <img src="{% static "images/services/eCom.png" %}" alt="research icon">
      </div>
      <div class="mlft-20">
        <h3> eCommerce </h3>
      </div>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, earum excepturi sit optio dolorum debitis
        repellat voluptas nulla
        sequi fugit facere iusto a deserunt, quis est ea, quas totam dolore.
      </p>
    </div>
  </div>

</div>




<!----------------------------
<div class="row justify-content-center pad20">

  <div class="row justify-content-left">

  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <hr>
    </div>
  </div>
  <section id="fullstack" class="hmpgtxt2">
    <div class="row justify-content-center">
      <div class="col-md-3 col-lg-offset-2">
        <h2>Responsive Web Development</h2>
        <hr>
      </div>

      <div class="col-md-5">
        <p style="text-align: justify;"> With so many different devices on offer to access the web, a responsive web
          site adapts to the display size without compromising quality or functionality. Whether a single page brochure
          or an online monster, your web presence MUST BE RESPONSIVE.
          I create Bespoke multi-device platforms with all the bells and whistles that today's users have come to
          expect. More importantly, esthetics are never allowed to compromise functionality or speed.
          <br><br>I can advise you on the best solution for your web site or application on issues such as hosting,
          security, online site builders, CMS sites like Wordpress, or bespoke design and development. I am able to
          offer you the solution that best suits your budget and requirements. </p>
        <hr>
      </div>
    </div>
  </section>


  <section id="mobil">
    <div class="row justify-content-center" style="font-size: larger;">
      <div class="col-md-3 col-lg-offset-2">
        <h2>Smart Phone Apps</h2>
        <hr>
      </div>
      <div class="col-md-5">

        <p style="text-align: justify;">
          With so many different devices on offer to access the web, A responsive web site adopts to the display size
          without compromising quality or functionality.
          Weather a one page broucher or a online monster, your web presence MUST BE RESPONSIVE. <br><br>
          I create Bespoke multi-device platforms with all the bells and whilstes that today's users have come to
          expect.

          More importantly amazing esthatics need not compromise functionality or speed.
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC,
          making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more
          obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
          classical literature, discovered
          <hr>
        </p>
      </div>
    </div>
  </section>



  <section id="graphics">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3> Branding & Graphic Design</h3>
        <p style="margin-left: 350px;">
          Your Branding is what makes you stand out from competition. Brands tell a story, Make a promise and create
          emotional engagement from target audience. Your logo Design, typography, colour scheme and consistency of the
          message all form a perception with customers that either increase or erode business.
          I work side by side with you to perfect the your brand experience. Help you create that out of box solution
          that
          can be different yet functional. Practical without compromising aesthetics. Fun but useful.
          I can help you revive and thrive again by re branding and developing micro brands, whilst retaining your core
          values.
        </p>
      </div>
    </div>
  </section>


  <section id="ecommerce">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3>E Commerce </h3>
        <p style="margin-left: 350px;">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </section>
--->

{% endblock %}